h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  width: 240px;
  font-size: 29px;

      box-shadow: 0 0 30px rgba(14, 26, 131, 0.699);
      padding: 10px;
      border-radius: 5px;
      font-weight: 600;
}
